<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form action="/productos/" method="POST" >
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="" placeholder="Ingresar nombre">
        </div>
        <br>
        <div>
            <label for="tono">Tono</label>
            <input type="text" name="tono" id="" placeholder="Ingresar tono">
        </div>
        <br>
        <div>
            <label for="precio">Precio</label>
            <input type="number" name="precio" id = "" placeholder="Ingresar precio">
        </div>
        <br>
        <div>
            <label for="oferta">Oferta</label>
            <label style="margin-bottom:7px" for="oferta">Esta en Oferta:</label>
                <p><input type="radio" value="Si" name ="oferta"> Si</p>
                <p><input type="radio" value="No" name ="oferta"> No</p>
        <div>
            <label for="stock">stock</label>
            <input type="number" name="stock" placeholder="Ingresar cantidad de productos en stock">
        </div>
        <br>
         <div class = "camposregistro">
                <label for="image">Imagen de Producto</label><br>
                <input type="file" name="image">
            </div> 
        <div>
            <input type="submit" value="Guardar Producto">
        </div>
        <br>
    </form>
    <div>
        <a href="/">Volver</a>
    </div>
</body>
</html>