<!DOCTYPE html>
<html lang="en">
<head>
     <%- include ("../partials/head") -%>
    <link rel="stylesheet" href="/css/crearPr.css">
    <title>Create</title>

</head>
<body>
     <%- include ("../partials/header")-%> 

    <div class="contenedor-form">
    <form action="/productos/" method="POST" enctype="multipart/form-data" >
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="" placeholder="Ingresar nombre">
        </div>
        <br>
        <div>
            <label for="tono">Tono</label>
            <input type="text" name="tono" id="" placeholder="Ingresar tono">
        </div>
        <br>
        <div>
            <label for="precio">Precio</label>
            <input type="number" name="precio" id = "" placeholder="Ingresar precio">
        </div>
        <br>
        <div class = "camposregistro" >
            
            <label style="margin-bottom:7px" for="oferta">Esta en Oferta:</label>
                <p><input class="select" type="radio" value="Si" name ="oferta"> Si</p>
                <p><input class="select" type="radio" value="No" name ="oferta"> No</p>
        </div>
        <div>
            <label for="stock">stock</label>
            <input type="number" name="stock" placeholder="Ingresar cantidad en stock">
        </div>
        <br>
         <div class = "camposregistro">
                <label for="image">Imagen de Producto</label><br>
                <input type="file" name="image">
            </div> 
        <div>
            <button type="submit" class= "input-enviar" >Guardar Producto</button>
        </div>
        <br>
    </form>
     </div>
    <div>
        <a href="/">Volver</a>
    </div>
    <%-include ("../partials/footer") -%>
</body>
</html>