
  <footer>
      <div class = "cajasfooter">
            <section>
            <div><i class="fa-solid fa-credit-card fa-2xl"></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Madam Walker Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
            <div><i class="fa-solid fa-gift fa-2xl"></i></div>
            <h4>Envío gratis desde $ 1.999</h4>
            <p>Solo por estar registrado en Madam Walker tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos</p>
            </section>
            <section>
            <div><i class="fa-solid fa-user-shield fa-2xl"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Madam Walker, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
                </section>
                </div>
                
    </footer>
    <h5>Copyright © 2023 Madam Walker S.a</h5>
  </body>
  <footer>