<!DOCTYPE html>
<header class="header">
    <h1>Madame Walker</h1>

<nav clas="navigation" id="main-navigation">
	<a href="#">Ofertas</a>
	<a href="#">Productos</a>
	<a href="#">Registrate</a>
	<a href="#">Ingresa</a>
	<a href="#">Tu compra</a>
    <a href="#">Contactanos</a>
    
	<div class="animation start-home"></div>
</nav>


</header>
