body {
  font-size: 12px;
  font-family: sans-serif;
  background-image: url("../image/fm.jpg");
  background-size:200% ;
}
/* .header {
  margin-left: -2px;
}
/* ‍estilos nav */
/* .navigation {
  width: 15em;
  right: -15em;
  position: absolute;
  overflow: hidden;
  display: block;
  height: 100%;
  background-color: #000;
  margin-left: 225px;
}
.navigation-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
} */ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #2aacb8;
  padding: 1rem;
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #707076;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Cherry Swash", cursive;
}


.container-promo {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container-promo.img {
  width: 90%;
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-promo h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-evenly;
}
.container-promo .boton-agregar-carrito {
  background-color: rgba(255, 0, 217, 0.837);
  color: rgb(244, 236, 237);
  font-size: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
footer {
  padding: 15px;
}

footer section {
  padding: 15px;
  text-align: center;
}

footer section div {
  text-align: center;
  padding: 10px;
}

footer section div i {
  color: rgb(204, 22, 210);
}

.fa-solid {
  transition: all, 300ms;
}

h5 {
  text-align: center;
  color: #3d3b3b;
}


/* 
---------------------Media Query para computadora-------- */
/* Estilos móvil/celular */
@media all and (max-width: 700px) {

  /* Oculta el nav en la parte izquiera */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../image/MUJER.jpg");
	  background-size:103% ;
    transform: translateX(-100vw);
    transition: 0.5s;
  }

  /* Muestra el nav */
  .nav--show {
    transform: translateX(0);
  }

  .nav__button {
    text-align: right;
    margin: 1rem;
	
  }

  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav__link {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .sec-promo{
   display: flex;
        
  }
  .sec-promo.container-promo{
    flex-wrap: wrap;
   
  }

}

/* Estilos Escritorio */
@media all and (min-width: 701px) {

  /* Oculta botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display: none;
	
  }
  button.header__button-nav--open{
 color:rgb(186, 112, 223);
  }

  /* Adapta el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }

  .nav__link:hover {
    opacity: 0.5;
  }
}
