body {
  font-size: 12px;
  font-family: sans-serif;
  background-image: url("../image/fm.jpg");
  background-size:225% ;
   box-sizing: border-box;
}
.header__button-nav--open{
  position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: hsla(348, 76%, 13%, 0.918);
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	
	
	
}
.header__button-nav--close{
  position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: hsla(348, 76%, 13%, 0.918);
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
}

/* .header {
  margin-left: -2px;
}
/* ‍estilos nav */
/* .navigation {
  width: 15em;
  right: -15em;
  position: absolute;
  overflow: hidden;
  display: block;
  height: 100%;
  background-color: #000;
  margin-left: 225px;
}
.navigation-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
} */ 
  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0;
  background: #2aacb8;
  padding: 1rem; */
} 

h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: hsla(348, 76%, 13%, 0.918);
  text-shadow: 2px 2px 4px #000000;
  font-family: "Cherry Swash", cursive;
}
.mujeres{
  height: 400px;
  width: 300px;
  object-fit: cover;
  margin-left: 25px;
  margin-bottom: 45px;
}
.ofertas{
  position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: hsla(348, 76%, 13%, 0.918);
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	
}


/* .container-promo > div{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
} */ 
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
}
.container-producto > div {
  flex:1 1 300px;
  background:#fff;
  border: relative;
  overflow: hidden;
  margin: 20px;
}
.img{
  padding: 10px;
  background: #eee;
  text-align: center;
  margin-bottom: 25px;
  margin-top:10px;
}
 img{
  height: 100px;
  width: 150px;
  object-fit: cover;  /*propiedad CSS se usa para especificar cómo se debe cambiar el tamaño de un 
  <img> o <video> para que se ajuste a su contenedor. */
}

.boton-agregar-carrito {
	background-color: rgba(255, 0, 217, 0.837);
	color: rgb(244, 236, 237);
	font-size: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
  }
  


.descripcionProd span{
margin-top:auto; 
text-align: center;
border-radius:0 0 3px 3px;
padding: 2px;
color: #000000;
}

a {
      text-decoration: none;
      outline: none;
  }
/* .sec-promo.container-promo:first-child,
.sec-promo.container-promo:nth-child(2){
  flex: 2 46%;
} */
footer {
  padding: 15px;
}

footer section {
  padding: 15px;
  text-align: center;
}

footer section div {
  text-align: center;
  padding: 10px;
}

footer section div i {
  color: rgb(204, 22, 210);
}

.fa-solid {
  transition: all, 300ms;
}

h5 {
  text-align: center;
  color: #3d3b3b;
}


/* 
---------------------Media Query para Tablet-------- */
/* Estilos móvil/celular */
@media all and (max-width: 700px) {
   

  /* Oculta el nav en la parte izquiera */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../image/MUJER.jpg");
	  background-size:103% ;
    transform: translateX(-100vw);
    transition: 0.5s;
  }

  /* Muestra el nav */
  .nav--show {
    transform: translateX(0);
  }

  .nav__button {
    text-align: right;
    margin: 1rem;
	
  }

  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav__link {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .container-producto{
  flex:1 1 50px;
  }

}

/* Estilos Escritorio */
@media all and (min-width: 701px) {
  .mujeres{
  height: 500px;
  width: 600px;
  object-fit: cover;
  margin-left: 45px;
  margin-bottom: 55px;
}
  /* Oculta botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display: none;
	
  }
  button.header__button-nav--open{
 color:rgb(186, 112, 223);
  }

  /* Adapta el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }

  .nav__link:hover {
    opacity: 0.5;
  }
}

@media (min-width:1024px) {
.mujeres{
  height: 300px;
  width: 800px;
  object-fit: cover;
  margin-left: 95px;
  margin-bottom: 55px;
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 60px;
  color: hsla(348, 76%, 13%, 0.918);
  text-shadow: 2px 2px 4px #000000;
  font-family: "Cherry Swash", cursive;
}
 .nav__link {
    display: block;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-size: 1.5rem;
    margin-left: 15px;
  }
.crear{
 font-size: 1.5rem;
}

footer section div {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}


h4,p {
  text-align: center;
  color: #3d3b3b;
  font-size: 1.5rem;
}
}
